.basket {
  max-width: 350px;
  margin: auto;
  form {
    display: flex;
    flex-direction: row;
    background-color: purple;
    color: white;
    align-items: center;
    padding: 5px;
    height: 65px;
    font-size: 1em;
    transition: all 500ms;
    &:hover {
      opacity: 0.8;
      box-shadow: 3px 7px 8px 1px #f3e8f0;
      transition: all 500ms;
    }
    label {
      padding: 2px;
      font-size: 0.9em;
    }
    input {
      min-width: 35px;
      max-width: 50px;
      width: auto;
      padding: 5px;
      font-size: 1em;
      color: black;
    }
    button {
      background-color: purple;
      border: none;
      color: white;
      font-size: 0.9em;
      padding: 5px;
    }
  }
  a {
    margin: 50px 0;
    height: 50px;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    transition: all 500ms;
    &:hover {
      opacity: 0.8;
      box-shadow: 3px 7px 8px 1px #f3e8f0;
      transition: all 500ms;
   }
  }
}
@media screen and (min-width: 318px) {
  .basket {
    form {
      label {
        padding: 5px;
        font-size: 1em;
      }
      button {
        font-size: 1.2em;
      }
    }
  }
}
