header {
  z-index: 500;
  height: 100px;
  width: 100%;
  background-color: #f3e8f0;
  position: fixed;
  border-bottom: 2px solid purple;
  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
    img {
      width: 140px;
      object-fit: cover;
    }
    nav {
      display: flex;
      flex-direction: row;
      flex-basis: 25%;
      margin-left: auto;
      ul {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        align-items: center;
        li {
          padding-right: 10px;
          a {
            position: relative;
            font-size: 1.1em;
            i {
              color: purple;
              transition: all 500ms;
            }
            span {
              position: absolute;
              top: -10px;
              border-radius: 50%;
              background-color: purple;
              color: white;
              width: 15px;
              height: 15px;
              line-height: 15px;
              text-align: center;
              right: -8px;
              font-size: 0.7em;
              transition: all 500ms;
            }
          }
        }
        li:last-child:hover {
          i {
            color: white;
            transition: all 500ms;
          }
          span {
            background-color: white;
            color: purple;
            transition: all 500ms;
          }
        }
      }
    }
  }
}
