@import "../main.scss";

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 125px 0;
  > p {
    text-align: center;
    font-size: 1.1em;
    margin: 10px;
  }
}
