@import "../main.scss";

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 125px 0;
  > p {
    text-align: center;
    font-size: 1.1em;
    margin: 10px;
  }
  .row {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    margin: 0 10px;
  }
  #container {
    display: flex;
    flex-direction: column;
    padding: 0;

    img {
      object-fit: cover;
      width: 100px;
      height: 70px;
    }
    h2 {
      padding: 30px 0;
      text-align: left;
    }
  //   .empty-card {
  //     margin: 20px;
  //   a {
  //   p {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     margin: auto;
  //     font-weight: bold;
  //     font-size: 1em;
  //   }
  //   i {
  //     font-size: 5em;
  //     color: purple;
  //     padding: 30px;
  //   }
  // }
  // }
    figure {
      position: relative;
      i {
        position: absolute;
        right: 5px;
        top: 5px;
        color: white;
        background-color: rgb(187, 44, 44);
        height: 25px;
        width: 25px;
        text-align: center;
        padding: 4px;
      }
      figcaption p {
        padding: 3px 0;
      }
    }
  }
  #resume {
    display: flex;
    flex-direction: column;
    background-color: #f3e8f0;
    max-width: 360px;
    padding: 0;
    thead {
      padding: 5px;
      border-bottom: 1px solid lightgray;
      height: 45px;
      display: flex;
      flex-direction: row;
      align-items: center;

      tr {
        th {
          font-size: 1.5em;
          margin-bottom: 10px;
        }
      }
    }
    tbody {
      background-color: rgb(252, 249, 249);
      border-bottom: 1px solid rgb(241, 241, 241);
      tr {
        text-align: left;
        padding: 20px;
        border-bottom: 1px solid lightgray;
        th {
          padding: 5px;
        }
      }
    }
    tfoot {
      #logo-table {
        width: 30%;
        height: auto;
      }
    }
  }
  .bg-form-container {
    background-color: #f3e8f0;
    max-width: 360px;
    margin-top: 30px;
    h3 {
      display: block;
      border-bottom: 1px solid black;
      padding: 20px 0;
    }
    form {
      padding-top: 10px;
      button {
        display: flex;
        flex-direction: column;
        background-color: purple;
        border: none;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 40px;
        width: 100%;
        font-size: 1.3em;
        font-weight: bold;
        transition: all 500ms;
        &:hover {
          opacity: 0.8;
          box-shadow: 3px 7px 8px 1px #f3e8f0;
          transition: all 500ms;
        }
      }
    }
  }
}
// #container {
//   display: flex;
//   flex-direction: column;
//   padding: 0;

//   h2 {
//     padding: 30px 10px;
//     text-align: left;
//   }
//   figure {
//     position: relative;
//     i {
//       position: absolute;
//       right: 5px;
//       top: 5px;
//       color: white;
//       background-color: rgb(187, 44, 44);
//       height: 25px;
//       width: 25px;
//       text-align: center;
//       padding: 4px;
//     }
//     figcaption p {
//       padding: 3px 0;
//     }
//   }
// }
// #resume {
//   display: flex;
//   flex-direction: column;
//   background-color: #f3e8f0;
//   max-width: 360px;
//   padding: 0;
//   thead {
//     padding: 5px;
//     border-bottom: 1px solid lightgray;
//     height: 45px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;

//     tr {
//       th {
//         font-size: 1.5em;
//         margin-bottom: 10px;
//       }
//     }
//   }
//   tbody {
//     background-color: rgb(252, 249, 249);
//     border-bottom: 1px solid rgb(241, 241, 241);
//     tr {
//       text-align: left;
//       padding: 20px;
//       border-bottom: 1px solid lightgray;
//       th {
//         padding: 5px;
//       }
//     }
//   }
//   tfoot {
//     #logo-table {
//       width: 30%;
//       height: auto;
//     }
//   }
// }

@media only screen and (min-width: 900px) {
  main {
    .row {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 880px;
      margin: 50px auto;
      .desktop-media {
        margin-top: 20px;
      }
      #container {
        min-height: 860px;
        article {
          margin: 20px auto;
        }
        h2 {
          padding: 30px 15px;
        }
      }
    }
  }
}
