@import "../main.scss";
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding-top: 125px;
  min-height: 700px;
  article {
    p {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      margin: 10px;
      padding: 10px 0;
      span {
        font-size: 1.1em;
        font-weight: lighter;
        padding: 10px 0;
      }
    }
    a {
      margin: 50px 0;
      height: 50px;
      border: none;
      color: white;
      font-size: 1em;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: purple;
      transition: all 500ms;
      &:hover {
        opacity: 0.8;
        color: white;
        box-shadow: 3px 7px 8px 1px #f3e8f0;
        transition: all 500ms;
      }
    }
  }
}
